
.form {
.title {
  text-align: center;
}
  .container {
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobile {
  }

  .desktop {
  }

  display: flex;
  flex-direction: column;
  align-items: center;

  .input {
    margin-top: 50px;
    width: 100%;
  }

  .radioButtons {


  }

  .upload {

  }
}

.status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .image {
    margin-top: 50px;
    width: 328px;
    height: 290px;
  }


}

@media screen and (min-width: 360px) {
  .form {
    .container {
      width: 328px;

    }
  }
}