@import "../../../styles/colorVars";

.title {
  color: $fontColor;
  font-size: 40px;
  line-height: 73%;
  padding: 0;
  margin: 0;
  text-align: left;
  vertical-align: top;

  &::first-letter {
    text-transform: uppercase;
  }
}

.light {
  font-weight: 300;
}

.normal {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}