@import url('https://fonts.googleapis.com/css2?family=Asap&family=Nunito&family=Nunito+Sans:wght@300;400;600;700&display=swap');
//font-family: 'Asap', sans-serif;
//font-family: 'Nunito', sans-serif;
//font-family: 'Nunito Sans', sans-serif;

$errorFont: 'Asap', sans-serif;
$fontFamily: 'Nunito', sans-serif;
$fontRegular: 400;