@import "./src/styles/breakpoints";

.page {
  min-width: 360px;

  section {
    display: flex;
    justify-content: center;
  }

  display: block;
  margin: 0 auto;
  background: #F8F8F8;

  .header {
    background: #ffffff;

  }

  //section banner
  .banner {
    position: relative;
    height: 650px;

    .inner {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 380px;
      margin: 0 auto;
      z-index: 1;

      .heading {
        text-align: center;
        margin-top: 140px;
        color: #ffffff;
      }

      .text {
        color: #ffffff;
        margin-top: 21px;
      }

      .button {
        margin-top: 32px;
      }
    }

    &:before {
      content: "";
      position: absolute;
      background: #000000;
      opacity: 50%;
      width: 100%;
      height: 100%;
    }
  }

  //section users
  .users {
    .usersInner {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;

      .usersHeading {
        margin-top: 140px;
        margin-bottom: 50px;
        text-align: center;
      }

      .buttonShow {
        margin-top: 50px;
      }
    }
  }

  //section form
  .form {
    margin-top: 144px;
    padding-bottom: 100px;
  }
}

.wrapper {
  background: none;
  width: 1170px;
  margin-left: 60px;
  margin-right: 60px;
}

.hide {
  display: none;
}

// media
@media screen and (min-width: $xl) {
  .wrapper {
    margin: 0;
    padding: 0;
  }

}

@media screen and (min-width: $xs) {
  .wrapper {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media screen and (min-width: $md) {
  .wrapper {
    margin-left: 32px;
    margin-right: 32px;
  }
}

@media screen and (min-width: $lg) {
  .wrapper {
    margin-left: 82px;
    margin-right: 82px;
  }
}


