@import 'src/styles/colorVars';

.button {
  min-width: 100px;
  height: 34px;
  border-radius: 80px;
  border: none;
  font-size: 16px;
  line-height: 119%;
  text-align: center;
  color: $fontColor;
  vertical-align: center;
  padding: 4px 18px;

  &::first-letter {
    text-transform: uppercase;
  }
}

.yellow {
  background: $primary;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    background: #ffe302;
  }
}

.disabled {
  background: #b4b4b4;
  color: #ffffffdd;

  &:hover {
    background: #b4b4b4;
  }
}
