.desktop {
}

.mobile {
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  width: 100%;
  height: 60px;

  .logo {
  }

  .buttons {
    .buttonSignUp {
      margin-left: 10px;
    }
  }
}
