@import 'styles/fontVars';
@import 'styles/colorVars';

.app {
  font-family: $fontFamily;
  font-weight: $fontRegular;
  color: $fontColor;
  line-height: 140%;
  background: #f8f8f8;
  padding: 0;
  margin: 0;
  height: 100%;
}
