$checkedBorderColor: #00BDD3;
$uncheckedBorderColor: #D0CFCF;
$radioSize: 20px;
$radioInnerSize: 10px;
$rippleAnimationSize: 15px;

.item {
  display: flex;
  align-items: center;
  margin: 13px 0;

  .radioButton {
    height: 20px;
    width: 20px;

    .input {
      display: none;

      &:checked + .label:before {
        border-color: $checkedBorderColor;
        animation: ripple 0.2s linear forwards;
      }

      &:checked + .label:after {
        margin: 5px;
        width: 10px;
        height: 10px;
      }
    }

    .label {
      display: inline-block;
      height: 100%;
      width: 100%;
      padding: 0;
      position: relative;
      margin: 0;
      cursor: pointer;

      &:before, &:after {
        position: absolute;
        content: '';
        border-radius: 50%;
        transition: all .3s ease;
        transition-property: transform, border-color;
      }

      &:before {
        left: 0;
        top: 0;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        border: 1px solid #D0CFCFFF;
      }

      &:after {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 0;
        height: 0;
        background: $checkedBorderColor;
      }
    }
  }

  .text {
    margin-left: 12px;
  }
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 1px #00000000;
  }

  50% {
    box-shadow: 0 0 0 $rippleAnimationSize #00000019;
  }

  100% {
    box-shadow: 0 0 0 $rippleAnimationSize #00000000;
  }
}